# Backend dependencies
node_modules/

# Frontend dependencies
frontend/node_modules/

# Environment files
.env
frontend/.env

# Build folders
dist/
frontend/dist/

# Logs
npm-debug.log*

# OS files
.DS_Store
Thumbs.db